.contenedor-principal {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

.container {
    background-color: whitesmoke;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px 30px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont-opciones {
    background-color: white;
    padding: 10px !important;
    border-radius: 10px;
}

.cont-pago {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cont-terminos {
    background-color: lightgrey;
    padding: 10px !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.imgTransbank {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: auto;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
}

.cont-logoTransbank {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.contenedor-logo {
    display: flex;
    justify-content: center;
}

.info {
    margin: 20px 0;
    padding: 10px;
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1.2rem);
    display: flex;
    justify-content: center;
    color: #333;
}

.aviso {
    margin: 20px 0;
    padding: 10px;
    font-size: clamp(0.7rem, 1vw + 0.7rem, 1.5rem);
    display: flex;
    justify-content: flex-start;
    color: #333;
}


.seguridad {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);
}

.inf {
    padding: 10px;
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1.2rem);
    display: flex;
    justify-content: center;
    color: #333;
}


.form-check-label {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}

.inputPago {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.btn-completar {
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-completar:hover {
    background-color: #333;
}