.cont-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}


.card {
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

/* Estilo de la imagen dentro de la card */
.card-img-top {
    width: 100% !important;
    margin: 10px;
    min-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Botón de precio */
.price-btn {
    background-color: #20c997;
    /* Color verde agua */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.price-btn:hover {
    background-color: #17a085;
    /* Cambio de color en hover */
}