.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(172, 172, 172);
    border-radius: 10px;

}

.contact-body {
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #333;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

.contact-btn{
    display: flex;
    justify-content: center;
}

.submit-btn {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #333;
}