.header{
    display: flex;              
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
}

img{
    width: 45px;
    height: 45px;
}

.button-container{
    display: flex;
    gap: 10px;
}

.header-button {
    padding: 10px 15px;           
    border: none;                 
    border-radius: 5px;         
    background-color: #03e0a9;   
    color: white;                 
    cursor: pointer;              
}

.header-button:hover {
    background-color: #03aa80;
}