/* src/components/home.css */

.fondo {
  background-image: url('/src/assets/img/chelenko.webp');
  background-size: cover;
  background-position: center;
  width: 100%; /* Asegura que ocupe todo el ancho */
  height: auto;
  padding: 20px 0; /* Agrega espacio superior e inferior */
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  width: 90%; /* Ajusta según lo que necesites */
  margin: 20px auto; /* Centra el contenedor */
  padding: 10px; /* Espaciado interno */
  overflow: hidden; /* Evita el desbordamiento */
}

