/* src/components/home.css */

.fondo {
  background-image: url('../assets/img/chelenko.webp');

  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh; /* Asegura que el fondo ocupe toda la altura de la pantalla */
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  max-width: 1200px; /* Limita el ancho máximo del contenedor */
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Permite que el contenido se ajuste en filas */
  gap: 20px; /* Espacio entre elementos */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.home-reserva {
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items:baseline;
}

