.mini-cart {
  position: fixed;
  top: 20%;
  right: 0;
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  font-family: 'Arial', sans-serif;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-details h6 {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.cart-item-details p {
  font-size: 14px;
  color: #777;
  margin: 5px 0 0;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px 8px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.cart-footer p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-pay {
  background-color:#20c997 important!;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-pay:hover {
  background-color: #20c997 important!;
}

.btn-checkout:hover {
    background-color: #20c997;
}