/* src/components/header.css */

header {
    background-color: #f8f9fa; /* Fondo claro */
}

.navbar-nav .nav-link {
    margin: 0 15px; /* Espaciado entre los enlaces */
}

.btn {
    margin-left: 10px; /* Espaciado para el botón del carrito */
}

.navbar-brand img {
    max-width: 100px; /* Ajustar tamaño del logo */
}
