/* Estilos generales */
.container {
    padding: 0 20px; /* Por defecto para pantallas grandes */
}

.card {
    width: auto; /* Por defecto para pantallas grandes */
    font-size: 1rem; /* Por defecto para pantallas grandes */
}

/* XS: Menos de 576px */
@media (max-width: 576px) {
    .container {
        padding: 0 10px;
    }
    .card {
        width: 100%;
        font-size: 0.9rem;
    }
}

/* S: Entre 577px y 768px */
@media (min-width: 577px) and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .card {
        max-width: 90%;
    }
}

/* M: Entre 769px y 992px */
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        padding: 0 20px;
    }
    .card {
        max-width: 80%;
        font-size: 1rem;
    }
}

/* L: Entre 993px y 1200px */
@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        padding: 0 30px;
    }
    .card {
        max-width: 70%;
        font-size: 1.1rem;
    }
}

/* XL: Más de 1201px */
@media (min-width: 1201px) {
    .container {
        padding: 0 40px;
    }
    .card {
        max-width: 60%;
        font-size: 1.2rem;
    }

}


    /*#20c997
    //Jennifer Diaz 