.contenedor-principal {
    margin: 10px auto;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    text-align: left; /* Alineación del texto a la izquierda */
}

.container {
    background-color: whitesmoke;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px 30px;
}

.cont-opciones {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.cont-terminos {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px; /* Esquinas redondeadas */
}

.titulo {
    padding: 10px;
    /* Eliminada la alineación centrada */
    font-size: 1.2rem;
    text-align: left;
}

.aviso, .info, .inf {
    margin: 20px 0;
    padding: 10px;
    font-size: 12px;
}

.aviso {
    font-size: 15px;
}

.info, .inf {
    text-decoration: underline; /* Subrayar texto en info e inf */
}

.form-check-label {
    font-size: 12px;
    font-weight: bold; 
    text-decoration: underline;
}

.inputPago {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.btn-completar {
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-completar:hover {
    background-color: #333;
}

.custom-label {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: #333;
}

/* Estilo para la lista de términos */
.terminos-texto {
    list-style-type: disc; /* Tipo de punto */
    padding-left: 20px; /* Espacio a la izquierda */
    margin: 0; /* Elimina margen por defecto */
    text-align: left;
}

.terminos-texto li {
    margin-bottom: 10px; /* Espacio entre elementos */
}